<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/images/ic.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script type="text/javascript" src="/static/script/profile.js"></script>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-warning">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="card sticky"id="profile-card">
                    <img src="/static/avatars/blank.png" class="card-img-top" alt="Profile Picture">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}
                            <form method="GET" action="/logout" class="ml-2">
                                <button type="submit" class="btn btn-link p-0 border-0">
                                    <i class="fas fa-sign-out-alt"></i>
                                </button>
                            </form>
                        </h5>
                        <p class="card-text">Number of files: {{nf}}</p>
                        <p class="card-text">Total space used: {{space}} mb</p>
                        <p class="card-text">Space available: <span id="space-available"></span> gb</p>       
                        <form method="POST" action="/upload/{{ username }}/file" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="file-upload" class="btn btn-info responsive-hide">Select files</label>
                                <input type="file" id="file-upload" name="files[]" multiple style="display:none;">
                            </div>
                            <button type="submit" class="btn btn-warning responsive-hide">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9 mb-4">
                <form method="POST" action="/search/{{username}}" class="search-form mb-4 sticky">
                    <input class="search-input form-control" type="text" name="search" placeholder="Search">
                    <button class="search-button btn btn-primary mt-2" type="submit">Search</button>
                </form>
                {% for i in files %}
                <div class="toolbar" id="toolbar-{{i.name}}">
                    <button onclick="location.href='/delete/{{username}}/{{i.name}}'" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i> <!-- Icona di eliminazione -->
                    </button>
                    <button onclick="location.href='/download/{{username}}/name/{{i.name}}'" class="btn btn-primary btn-sm">
                        <i class="fas fa-download"></i> <!-- Icona di download -->
                    </button>
                    <button onclick="location.href='/view/{{username}}/name/{{i.name}}'" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i> <!-- Icona di visualizzazione -->
                    </button>
                    <form method="GET" action="/convert/{{username}}/name/{{i.name}}" style="display: inline;">
                        <button type="submit" class="btn btn-secondary btn-sm">Convert</button>
                    </form>
                    <button class="btn btn-sm close-button" onclick="hideToolbar('{{i.name}}'); event.stopPropagation();">
                        <i class="fas fa-times"></i> <!-- Icona di chiusura -->
                    </button>
                </div>
                {% endfor %}
                
                <div class="row">
                    {% for i in files %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="card" onclick="showToolbar('{{i.name}}')">
                            <div class="card-body d-flex align-items-center"> <!-- Aggiungi le classi d-flex e align-items-center -->
                                <h5 class="card-title m-0 flex-grow-1">
                                    {{i.name[0:15]}}{% if i.name|length > 10 %}...{% endif %}
                                </h5>
                                <button class="btn btn-info btn-sm rounded-circle" style="background-color: gray;" onclick="event.stopPropagation(); showInfo('{{i.name}}', '{{i.size}}')">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="upload-button-container" class="fixed-bottom mb-3 mr-3 d-sm-none d-block">
            <input type="file" id="file-input" style="display: none;">
            <button id="upload-button" class="btn btn-primary btn-lg"><i class="fas fa-cloud-upload-alt"></i></button>
        </div>
    </div>

   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
        var selectedCard = null;

        function showToolbar(name) {
            if (selectedCard) {
                hideToolbar(selectedCard);
            }
            document.getElementById('toolbar-' + name).style.display = 'block';
            selectedCard = name;
        }

        function hideToolbar(name) {
            document.getElementById('toolbar-' + name).style.display = 'none';
            if (selectedCard === name) {
                selectedCard = null;
            }
        }

        function viewFile(fileName, fileExtension) {
            fetch(`/view_file_data/${fileName}`)
                .then(response => response.json())
                .then(data => {
                    if (fileExtension === 'pdf') {
                        showPDF(data);
                    } else if (fileExtension === 'docx') {
                        showDocx(data);
                    }
                });
        }
        function showInfo(name, size) {
            alert("Name: " + name + "\nSize: " + size );
        }        

        document.getElementById('space-available').innerText = Math.floor((1 - ({{space}})/1024)*1000)/1000;

        var limit = 25600 - {{space}};
        document.getElementById("file-upload").oninput = function() {
            var n = 0;
            var si = [];
            var cn = [];
            while (n < this.files.length) {
                if ((this.files[n].size/1024/1024) > 2048) {
                    cn.push(false);
                }
                si.push(this.files[n].size/1024/1024);
                n = n + 1;
            }
            n = 0;
            for (var i = 0; i < si.length; i++) {
                n = n + si[i];
            }
            if (n > limit) {
                alert("Storage is not available. Upload less larger file.");
                this.value = null;
            } else {
                if (cn[0] == false) {
                    alert("File size should not be greater than 2gb");
                    this.value = null;
                }
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
    // Seleziona il bottone di caricamento del file
    var uploadButton = document.getElementById('upload-button');

    // Listener per il click sul bottone di caricamento del file
    uploadButton.addEventListener('click', function() {
        // Quando il bottone viene cliccato, simula il click sull'input file
        document.getElementById('file-input').click();
    });

    // Listener per il cambiamento del file selezionato
    document.getElementById('file-input').addEventListener('change', function(event) {
        var files = event.target.files;
        if (files.length > 0) {
            var formData = new FormData();
            // Aggiungi i file selezionati al FormData
            for (var i = 0; i < files.length; i++) {
                formData.append('files[]', files[i]);
            }
            // Esegui la richiesta POST per caricare i file
            fetch('/upload/{{ username }}/file', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    // Se il caricamento ha successo, ricarica la pagina
                    window.location.reload();
                } else {
                    // Se il caricamento fallisce, mostra un messaggio di errore
                    alert('Errore durante il caricamento del file.');
                }
            })
            .catch(error => {
                console.error('Si è verificato un errore:', error);
                alert('Si è verificato un errore durante il caricamento del file.');
            });
        }
    });
});

    </script>
