<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/images/ic.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script type="text/javascript" src="/static/script/profile.js"></script>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <title>Dashboard</title>
    <!-- PDF.js library -->
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <!-- Mammoth.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.4.2/mammoth.browser.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-warning">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="/static/avatars/blank.png" class="card-img-top" alt="Profile Picture">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}
                            <form method="GET" action="/logout" class="ml-2">
                                <button type="submit" class="btn btn-link p-0 border-0">
                                    <i class="fas fa-sign-out-alt"></i>
                                </button>
                            </form>
                        </h5>
                        <p class="card-text">Number of files: {{nf}}</p>
                        <p class="card-text">Total space used: {{space}} mb</p>
                        <p class="card-text">Space available: <span id="space-available"></span> gb</p>
                        <form method="POST" action="/upload/{{ username }}/file" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="file-upload" class="btn btn-primary">Select files</label>
                                <input type="file" id="file-upload" name="files[]" multiple style="display:none;">
                            </div>
                            <button type="submit" class="btn btn-success">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <form method="POST" action="/search/{{username}}" class="search-form">
                    <input class="search-input" type="text" name="search" placeholder="Search">
                    <button class="search-button" type="submit">Search</button>
                </form>
                <div class="row">
                    {% for i in files %}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{i.name[0:10]}}{% if i.name|length > 10 %}...{% endif %}
                                        <button class="btn btn-info btn-sm rounded-circle" style="background-color: gray;" onclick="showInfo('{{i.name}}', '{{i.size}}')">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                    </h5>
                                    <a href="/delete/{{username}}/{{i.name}}" class="btn btn-danger btn-sm">Delete</a>
                                    <a href="/download/{{username}}/name/{{i.name}}" class="btn btn-primary btn-sm">Download</a>
                                    <a href="/view/{{username}}/name/{{i.name}}" class="btn btn-info btn-sm">View</a>
                                    <form method="GET" action="/convert/{{username}}/name/{{i.name}}">
                                        <button type="submit" class="btn btn-secondary btn-sm">Convert</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for viewing files -->
    <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileModalLabel">View File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe id="fileViewer" width="100%" height="600px"></iframe>
                    <canvas id="pdfViewer" style="width: 100%; height: 600px;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showInfo(name, size) {
            alert("Name: " + name + "\nSize: " + size );
        }

        function viewFile(fileName, fileExtension) {
            fetch(`/view_file_data/${fileName}`)
                .then(response => response.json())
                .then(data => {
                    if (fileExtension === 'pdf') {
                        showPDF(data);
                    } else if (fileExtension === 'docx') {
                        showDocx(data);
                    }
                });
        }

        function showPDF(data) {
            var pdfData = atob(data);
            var loadingTask = pdfjsLib.getDocument({data: pdfData});
            loadingTask.promise.then(function(pdf) {
                pdf.getPage(1).then(function(page) {
                    var scale = 1.5;
                    var viewport = page.getViewport({scale: scale});
                    var canvas = document.getElementById('pdfViewer');
                    var context = canvas.getContext('2d');
                    canvas.height = viewport.height;
                    canvas.width = viewport.width;
                    var renderContext = {
                        canvasContext: context,
                        viewport: viewport
                    };
                    page.render(renderContext);
                });
            });
            $('#fileModal').modal('show');
            document.getElementById('pdfViewer').style.display = 'block';
            document.getElementById('fileViewer').style.display = 'none';
        }

        function showDocx(data) {
            var arrayBuffer = base64ToArrayBuffer(data);
            mammoth.convertToHtml({arrayBuffer: arrayBuffer})
                .then(function(result) {
                    var html = result.value;
                    document.getElementById('fileViewer').srcdoc = html;
                });
            $('#fileModal').modal('show');
            document.getElementById('pdfViewer').style.display = 'none';
            document.getElementById('fileViewer').style.display = 'block';
        }

        function base64ToArrayBuffer(base64) {
            var binary_string = atob(base64);
            var len = binary_string.length;
            var bytes = new Uint8Array(len);
            for (var i = 0; i < len; i++) {
                bytes[i] = binary_string.charCodeAt(i);
            }
            return bytes.buffer;
        }

        document.getElementById('space-available').innerText = Math.floor((1 - ({{space}})/1024)*1000)/1000;

        var limit = 25600 - {{space}};
        document.getElementById("file-upload").oninput = function() {
            var n = 0;
            var si = [];
            var cn = [];
            while (n < this.files.length) {
                if ((this.files[n].size/1024/1024) > 2048) {
                    cn.push(false);
                }
                si.push(this.files[n].size/1024/1024);
                n = n + 1;
            }
            n = 0;
            for (var i = 0; i < si.length; i++) {
                n = n + si[i];
            }
            if (n > limit) {
                alert("Storage is not available. Upload less larger file.");
                this.value = null;
            } else {
                if (cn[0] == false) {
                    alert("File size should not be greater than 2gb");
                    this.value = null;
                }
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
