mysql-connector-python
zxcvbn
azure-ai-textanalytics
Flask
azure-core
argon2-cffi
Flask-Limiter
Flask-Bcrypt
password-strength
pymysql
pyodbc
azure-storage-blob
pwnedpasswords
python-dotenv
pdfplumber
Werkzeug
python-docx
azure-identity
reportlab
Flask-Cors
Flask-Dance
requests
requests-oauthlib
pymupdf