body {
    background-color: #333; /* colore di sfondo nero */
    color: #fff; /* testo bianco */
}
.btn {
    transition: all 0.3s ease;
    color: #fff;
}

.btn:hover {
    transform: scale(1.1);
}
.modal-content {
    background-color: #555; /* colore di sfondo grigio scuro per i modali */
    color: #fff; /* testo bianco */
}

.modal-header {
    border-bottom: 1px solid #999; /* bordo grigio chiaro per l'intestazione del modal */
}

.modal-title {
    color: #fff; /* testo bianco per il titolo del modal */
}

.modal-body {
    background-color: #444; /* colore di sfondo grigio scuro per il corpo del modal */
    color: #fff; /* testo bianco */
}
.card {
    position: relative;
    margin-top: 20px;
    background-color: #555; /* colore di sfondo grigio scuro per le card */
    color: #fff; /* testo bianco */
}
.toolbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #e0e0e0;
    padding: 10px;
    top: 50px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.card:hover + .toolbar {
    display: flex;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.toolbar.active {
    display: flex;
}

.toolbar .btn {
    margin: 0 5px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-title {
    font-size: 1rem; /* Riduci la dimensione del testo */
    max-width: 160px; /* Limita la larghezza del testo */
    overflow: hidden; /* Nascondi il testo che supera la larghezza massima */
    text-overflow: ellipsis; /* Aggiungi puntini di sospensione se il testo è troppo lungo */
    white-space: nowrap; /* Impedisci al testo di andare a capo */
}
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
}
#error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
}
.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #555555;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: rgb(0, 0, 0);
}
.file-preview {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.close-button {
    color: white;
    background-color: red;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute; /* posizionamento assoluto */
    top: 10px; /* posizionato a 10px dal bordo superiore */
    right: 10px; /* posizionato a 10px dal bordo destro */
}
.row {
    margin-top: 10px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}
