.btn {
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(47, 130, 255);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: rgb(47, 130, 254);
}